<!<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>login</title>
    <link rel="stylesheet" href="./login.css" />
</head>
<body>
    <section>
        <h1>Login</h1>
      <form method="POST" action="/logged">
          <label for="exampleInputEmail1">Username</label>
          <input id="exampleInputEmail1" type="username" name="username" placeholder="Enter username"/><br/>
          <label for="exampleInputPassword1">Password</label>
          <input id="exampleInputPassword1" type="password" name="pwd" placeholder="Enter Password"/><br/>
          <button type="submit" value="Submit">Submit</button>
      </form>
      <a href='/registration'>Registration</a>
    </section>
</body>
</html>